/* Cart  */
.content{
max-width: 650px;
justify-content: space-around;
margin: 0 auto;
margin-top: 50px;
display: flex;
justify-content: center;
flex-wrap: wrap;
margin-top: 50px;
padding-top: 100px;
}

.listCartProduct{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}
.productName{
    width: 45%;
}
.productPrice{
    width: 15%;
    border-bottom: 4px solid lightgray;
    display: flex;
    align-items: center;

}
.productQuantity{
    width: 30%;
    border-bottom: 4px solid lightgray;
    display: flex;
    align-items: center;
}
.total{
    width: 10%;
    border-bottom: 4px solid lightgray;
    display: flex;
    align-items: center;
}

.listCartProduct{
width: 45%;
display: flex;
justify-content: space-around;
align-items: center;
padding: 10px 0;
border-bottom: 1px solid;
}